# Environment variables
.env
.env.*
flask_app/.env
saas-ux/.env

# Clerk secrets
saas-ux/.clerk

# Build artifacts
saas-ux/.next
saas-ux/node_modules

# VS Code/IDE
.vscode/
.vs/

# Python cache
__pycache__/
.vercel
